*, *::before, *::after {
    box-sizing: content-box;
}

/* -----------------------------------------
----------------- MASTER -------------------
-------------------------------------------- */

#master{
	margin:auto;
	height:800px;
	width:900px;
	padding: 5px;
	text-align:center;
	border-style: solid;
	border-color: #E95D3C;
	position: relative;
	border-width: 5px;
	border-radius: 5px;
	font-size: 105%;
	line-height: normal;
}

/* -----------------------------------------
--------------- CONNECTION -----------------
-------------------------------------------- */

#room_connection{
	left: 25px;
	width: 150px;
}

#connect
{
	bottom: 0px;
}

#connection_msg{
	color: red;
}

/* -----------------------------------------
---------------- CONSOLE -------------------
-------------------------------------------- */

#console{
	bottom: 0px;
	margin: 20px;
	height: 300px;
	left: 0px;
	right: 0px;
	padding: 5px;
	border-style: solid;
	border-width: 3px;
	background-color: #e95d3c;
	position:absolute;
	border-radius: 5px;
}

#console_in{
	overflow: auto;
}

#new_console_text{
	color: black;
}

#old_console_text{
	padding: 0px;
	color: grey;
}

/* -----------------------------------------
---------------- PLAYERS -------------------
-------------------------------------------- */

#players{
	width: 150px;
	right: 0px;
}

#players_in{
	height: 150px;
}

/* -----------------------------------------
------------------ GAME --------------------
-------------------------------------------- */
#game{
	top: 40px;
	left: 235px;
	height: 380px;
	width: 400px;
}

#game_wrapper{
	top: 20px;
	left: 5px;
	right: 5px;
	bottom:127px;
	margin: 5px;
	padding: 4px;
	position:absolute;
}

#game_table{
	border: 2px solid black;
	width: 100%;
	border-spacing: 0px;
	background-color:black;
	border-radius: 5px;
}

#game_table th{
	color: white;
    background-color: black;
	vertical-align: middle;
	font-weight: bold;
}

#game_table tr{
	height: 35px;
	vertical-align: middle;
}

#game_table td{
	vertical-align: middle;
}

#game_table tr:nth-child(even){
	background-color: #eee;
}

#game_table tr:nth-child(odd){
	background-color: #fff;
}

/* -----------------------------------------
--------------- USERHAND -----------------
-------------------------------------------- */

#userhand{
	top: 260px;
	bottom: 0px;
	position: absolute;
}

#userhand_in{
	position: absolute;
	height: 20px;
}

#userhand_card{
	position: absolute;
	height: 20px;
	top: 65px;
	bottom: 0px;
}

#betWrapper{
	height: 18px;
	padding: 0px;
	display:inline-block;
	margin: 0 auto;
}

#cardWrapper{
	height: 18px;
	padding: 0px;
	display:inline-block;
	margin: 0 auto;
}

/* -----------------------------------------
------------------ CLASS -------------------
-------------------------------------------- */

.box{
	margin: 20px;
	height: 250px;
	width: 200px;
	padding: 5px;
	border-style: solid;
	border-width: 3px;
	position:absolute;
	border-radius: 5px;
	background-color: #e95d3c;
}

.in_box{
	top: 30px;
	left: 5px;
	right: 5px;
	bottom:20px;
	margin: 5px;
	padding: 4px;
	background-color: white;
	border-style: groove;
	border-width: 2px;
	*/
}

.user_box{
	margin: 5px;
	padding: 4px;
	border-style: solid;
	border-width: 1px;
	
	width: 50px;
	margin: 0 auto;
	float: left;
	position:relative;
}

.inputbox{
	width: 80px;
	font-family: Arial;
	font-size: 90%;
}

.bets{
	float: left;
	font-family: Courier;
	cursor: pointer;
}

.cards{
	float: left;
	font-family: Courier;
	cursor: pointer;

}

.button.jogo{
	padding: 0.5em 1em;
	text-transform: none;
	background-color: black;
}